body {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
    font-family: 'Hind Siliguri', sans-serif;
    background-image: url("../images/background-img.png");
}
label {

    margin-bottom: 0px !important;
    font-size:13px;
    color:#FF0000;
    font-weight: 700;
}
select.error, textarea.error, input.error {
    border:1px solid #FF0000;
}

.color-class {
    background: #222222;
}

.glyph-color {
    color: #999999;
}

.brand {
    position: absolute;
    left:  45%;
    margin-left: -50px !important;
    display: block;
}

.row-centered p {
    font-size: 30px;   
}

.navbar {
    border-radius: 0px !important;
    border: 0;
}

.navbar a {
    font-weight: inherit;
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar img {
    width: 243px;
    display: inline;
    top: -10px;
    position: relative;
}


.login {
    float: right;
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    background-color: #EEECEC !important;
}


/* Reset top and bottom margins from certain elements */

.login-header {
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -10px;
    font-size: 28px;
    background-color: #4B4B4F;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4B4B4F), to(#515155));
    background-image: -webkit-linear-gradient(top, #4B4B4F, #515155);
    background-image: -moz-linear-gradient(top, #4B4B4F, #515155);
    background-image: -ms-linear-gradient(top, #4B4B4F, #515155);
    background-image: -o-linear-gradient(top, #4B4B4F, #515155);
    background-image: linear-gradient(to bottom, #4B4B4F, #515155);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4B4B4F, endColorstr=#515155);
    padding: 21px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}


.login-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ebebeb;
    padding: 10px 20px;
}

.login-container .form-group{
    margin-bottom:10px;

}
.login input[type="button"] , input[type="submit"]{
    width: 100%;
    border-width: 0px;
    border-style: solid;
    padding: 12px;
    font-size:20px;
        background-color: #4B4B4F; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4B4B4F), to(#515155));
 background-image: -webkit-linear-gradient(top, #4B4B4F, #515155);
 background-image: -moz-linear-gradient(top, #4B4B4F, #515155);
 background-image: -ms-linear-gradient(top, #4B4B4F, #515155);
 background-image: -o-linear-gradient(top, #4B4B4F, #515155);
 background-image: linear-gradient(to bottom, #4B4B4F, #515155);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4B4B4F, endColorstr=#515155);
    color: #fff;
    border-radius: 5px !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align icon */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

#wrapper {
    width: 100% margin: 0 auto;
}

.form-control {
    font-size:16px;
    border-radius:0;
}

#rightcolumn ul li:first-child {
    width: 75%;
    font-size:16px;
    list-style-type: none;
    padding: 0px 0 25px;
    color: #999999;
    border-bottom: 1px solid #D1CEC8;
}

.testimonial {
     width: 50%;
     float: right;
}

#rightcolumn ul li {
    width: 75%;
    font-size:16px;
    list-style-type: none;
    padding: 25px 0 30px;
    color: #999999;
    border-bottom: 1px solid #D1CEC8;
}

#rightcolumn ul li span {
    margin-right: 15px;
}

#picturediv ul li {
    width: 100% !important;
    padding: 50px 0 30px !important;
    list-style-type: none;
    border-bottom: 1px solid #D1CEC8;
}

.bottomcolumn {
    /* float: none; */
    overflow: 1;
    /* overflow: initial; */
    /* position: relative; */
    /* clear: both; */
    clear: right;
    /* width: inherit; */
    height: auto;
    /* position: static; */
    /* padding: 0px 10px 5px 10px; */
    height: 200px;
    background: rgba(0, 0, 0, 0.51);
}

.clearfix {
    overflow: auto;
}

#picturediv {
    z-index: -1;   
    width: 100%;
    top: 58%;
    margin-top: 6%;
    background: white;
    padding-left: 6%;
    padding-top: 43px;
}

#picturediv img {
    height: 50px;
    width: 8%;
    float: left;
    border: 1px solid #101010;
    border-radius: 50%;
}

.right {
    display: block;
    margin-left: 9%;
    width: auto;
    padding-bottom: 10px;
    color: #999999;
    border-bottom: 1px solid #D1CEC8;
}

.right:nth-child(3) {
    padding: 10px 0 10px;
    border-bottom: 1px solid #D1CEC8;
    color: #101010;
    border-bottom: none !important;
}

.gallery-container {
    margin-left: 6%;
}

.gallery {
    margin-top: 7%;
}

.customer {
    border-bottom: 1px solid #D1CEC8;
}

.gallery-container img {
    float: left;
    margin: 10px 1% 0px;
    padding: 30px 1% 0px;    
}

@media all and (max-width : 991px) { 
        .col-md-6 {
            width: 100%;
        }
 
        .brand {
        position: absolute;
        left: 30%;
        margin-left: -50px !important;
        display: block;
        }

        .login {
         float: none;
         width:80%;
         margin:0 auto;
        }

            .testimonial {
         width: 100%;
        float: none;
        }
        .login input[type="button"] , input[type="submit"]{
            font-size:18px;
        }

        #rightcolumn {
            margin-top: 5%;
        }
    
     #rightcolumn ul li:first-child {
        width: 100%;
        list-style-type: none;
        padding: 0px 0 25px;
        color: #999999;
        font-size: 20px;
        border-bottom: 1px solid #D1CEC8;
    }
    #rightcolumn ul li {
        width: 100%;
        list-style-type: none;
        padding: 25px 0 30px;
        color: #999999;
           font-size: 20px;
        border-bottom: 1px solid #D1CEC8;
    }
      .gallery-container img:first-child {
        margin:0 auto;
    }
    .gallery-container img {
        display:block;
        width:40%;
        margin: 0 auto;
        text-align:center;
        float:none;
  
  }
}


